@font-face {
    font-family: 'Big Caslon';
    src: url('BigCaslon-Medium.woff2') format('woff2'),
        url('BigCaslon-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

